:root{
    --blue_color:#049DD9;
    --sky_color:#04B2D9;
    --teal_color:#037F8C;
    --yello_color:#D9A404;
    --sand_color:#D9985F;
}
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400&display=swap');
body{
    font-family: 'Noto Sans KR',sans-serif;
    display: flex;
    align-items: center;
    width: 100vw;
}

#main-line{
    background-color: black;
    width: 2px;
    height: 90vh;
    border-radius: 10px;
}
#side-bar{
    width: 30vw;
    height: 100vh;
}
#side-bar-title-container{
    height: 50px;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin:0px;
    margin-top: 50px;
}
#side-bar-title{
    font-size: 50px;
}
#side-bar-item-container{
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style:none;
}
.side-bar-items{
    text-decoration: none;
    color:inherit;
    margin-top: 40px;
    padding:20px;
    font-size: 40px;
    border: 2px solid black;
    border-radius: 5px;
    list-style: none;
    transition:box-shadow 0.5s ease-in-out;
}
.side-bar-items:hover{
    box-shadow: 0 2px 10px 5px rgba(0,0,0,0.3);
}
.side-bar-item-popup{
    position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 500px;
        background-color: #fff;
        padding: 20px;
        border: 1px solid #ccc;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
        display: none;
}
#rmsfhwkdfurma:target{
    display: block;
}
#main-content{
    width: 70vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
#main-content-circle{
    height: 300px;
    width: 300px;
    border-radius: 50%;
    position: relative;
    list-style: none;
}
#main-content-circle > li{
    height: 150px;
    width: 150px;
    border: 2px solid black;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    list-style: none;
}
#main-content-circle > li > a{
    font-size: 20px;
}
#content-1{
    top: -152px;
    left: 75px;
}
#content-2{
    bottom: -90px;
    left: 230px;
}
#content-3{
    top: 0px;
    left: -140px;
}
#content-4{
    top: 0px;
    right:-140px;

}
#content-5{
    bottom: -90px;
    right: 230px;
}
#font-size-container{
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 30px;
}
#font-size-container > div{
    font-size: 30px;
    margin:10px;
}
.giho{
    margin:50px;
}
