body{
    height: 100vh;
    width: 100vw;
    background-color: var(--background);
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.nudge{
    color: var(--background_font);
    font-size: 128px;
    z-index: 10;
    margin-bottom: 100px;
}
#youtube{
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 5%;
    z-index: 1;
}
.info-top{
    position: absolute;
    top:1.5%;
    left:2%;
    z-index: 3;
    color:var(--background_font);

}
.page-opacity{
    position: absolute;
    height: 100vh;
    width: 100vw;
    top:1.5%;
    opacity: 0.2;
    background-color: var(--background);
    z-index: 2;
    transition: 5s ease-in-out;
}
.page-opacity:hover{
    opacity: 1;
}